#!/bin/bash
#
# Backup confluence database and files
# https://confluence.atlassian.com/doc/production-backup-strategy-38797389.html

# database backup using postgres user
cd /tmp/
sudo -u postgres sh -c "pg_dump {{ postgres_db_name }} > /tmp/{{ postgres_db_name }}.sql"
mv /tmp/{{ postgres_db_name }}.sql {{ backup_folder }}/

# config backup
cp {{ confluence_dirs.data }}/confluence.cfg.xml {{ backup_folder }}/

# attachments backup
rm -rf {{ backup_folder }}/attachments
cp -R {{ confluence_dirs.data }}/attachments {{ backup_folder }}/
